<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-old-gold" >
	<tr>
		<td>
			<f:translate key="tx_oldgold_domain_model_adpost.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oldgold_domain_model_adpost.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oldgold_domain_model_adpost.categories" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oldgold_domain_model_adpost.phone_number" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oldgold_domain_model_adpost.email" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_oldgold_domain_model_adpost.image" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>