<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:h="OldGold\OldGold\ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_oldgold_domain_model_adpost.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_oldgold_domain_model_adpost.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="description" /><br />
<label for="categories">
	<f:translate key="tx_oldgold_domain_model_adpost.categories" />
</label><br />
	<f:form.textfield property="categories" /><br />
<label for="phoneNumber">
	<f:translate key="tx_oldgold_domain_model_adpost.phone_number" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="phoneNumber" /><br />
<label for="email">
	<f:translate key="tx_oldgold_domain_model_adpost.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="image">
	<f:translate key="tx_oldgold_domain_model_adpost.image" />
</label><br />
<h:form.upload property="image" >
	<f:if condition="{resource}">
		<f:image image="{resource}" alt="" width="50"/>
	</f:if>
</h:form.upload><br />
<label for="image_collection">
	<f:translate key="tx_oldgold_domain_model_adpost.image_collection" />
</label><br />
<br />
</html>