<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <h1>Listing for AdPost</h1>

    <f:flashMessages />

    <table  class="tx_oldgold" >




        <div class="container">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th><f:translate key="tx_oldgold_domain_model_adpost.title" /></th>
                    <th><f:translate key="tx_oldgold_domain_model_adpost.description" /></th>
                    <th><f:translate key="tx_oldgold_domain_model_adpost.categories" /></th>
                    <th><f:translate key="tx_oldgold_domain_model_adpost.phone_number" /></th>
                    <th><f:translate key="tx_oldgold_domain_model_adpost.email" /></th>
                    <th><f:translate key="tx_oldgold_domain_model_adpost.image" /></th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{adPosts}" as="adPost">

                <tr><td><span> {adPost.title}</span></td>
                <td><span> {adPost.description}</span></td>
                    <td><span> {adPost.categories}</span></td>
                    <td><span> {adPost.phoneNumber}</span></td>
                    <td><span> {adPost.email}</span></td>
                    <td><f:if condition="{example.image}"><f:image image="{example.image}" alt="" width="50"/></f:if></td>
                    <td>
                        <f:for each="{example.imageCollection}" as="image">
                            <f:image image="{image}" alt="" width="50"/>
                        </f:for>
                    </td>
                    <!--<td><f:link.action action="Show" arguments="{adPost:adPost}">Show</f:link.action></td>-->
                    <td><f:link.action action="edit" arguments="{adPost : adPost}">Edit</f:link.action></td>
                    <td><f:link.action action="delete" arguments="{adPost : adPost}">Delete</f:link.action></td>
                </tr>
                </f:for>



                </tbody>
            </table>
        </div>




    </table>

    <f:link.action action="new">New AdPost</f:link.action>
</f:section>
</html>